html {
   box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    background: #41016ba8; /* Safari */
}
::-moz-selection {
 background: #41016ba8; /* Firefox */
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    padding-left: 0; /* Сдвигаем список влево */
   }

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: 'DotGothic16';
     height: 100%;
     background: black;
}

.list-reset {
    margin: 0px;
    padding: 0;
    list-style: none;  /*отменяет маркеры*/
}

.btn-reset {
   padding: 0;
   border: none;
   background-color: transparent; 
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;  /*auto чтоб центрировался по горизонтали*/
}

/*-----------header-------------*/

header{
    background: black;
}

.nav{
    display: flex;
    /* margin-top: 20px;
    margin-bottom: 100px; */
}
.nav-menu{
    display: inline-flex;
}
a.nav-text:not(.active) {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
    border-radius: 50px;
    background: #5f006b;
    box-shadow:5px 5px 10px #ed0101,
             -10px -10px px #ff0101;
    transition: 0.5s;
}

a.nav-text:hover:not(.active){
    background: #bf00ff;
    box-shadow:  5px 5px 40px #a200fff8,
    -5px -5px 40px #5e008d;
}

.active{
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
    border-radius: 50px;
    background: #bf00ff;
    box-shadow:  0px 0px 10px #a200fff8;
    /* pointer-events: none;  */
      cursor: default; 
      transition: 0.1s;
}

.active:hover{
    background: #5f006b;
    box-shadow:  5px 5px 10px #000000f8,
    -5px -5px 10px #000000;
}

.nav-logo{
    font-size: 1ю5em;
    margin-top: 10px;
    margin-right: auto;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    z-index: 4;
}

.logo-nav{
    text-shadow: 0px 0px 3px white;
    animation:  0.01s infinite alternate logo;
    border-radius: 50px;
}
@keyframes logo {
	0%{
        text-shadow: 5px 0px 6px rgb(114, 114, 114);
    }
	25%{
        tex-shadow: 4px 0px 0px #66666628;
    }
	30%{
        text-shadow: 6px 0px 0px rgb(77, 77, 77);
    }
    100%{
        text-shadow: 0px 0px 10px rgb(204, 204, 204);
    }

}


.menu{
    margin-top: 50px;
}



#navbar{
    background-color: rgba(63, 0, 100, 0);
  position: fixed;
  top: -50px;
  width: 100%;
  display:block;
  transition: top 0.3s;
  /* box-shadow: 0px 16px 24px -7px #000000; */
}

#navbar a {
  font-size: 20px;
  float: left;
  display: block;
  color: #0a004b;
  text-align: center;
  padding: 5px;
  background-color: black;
  border-radius:50px;
  background: #550180;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 10px;
  text-shadow: 0px 0px 40px rgb(255, 0, 0);
}

#navbar a:hover {
    background-color: #ff00004f;
    color: black;
    background: #ff0000;
    box-shadow:  5px 5px 10px #ff0000f8,
    -5px -5px 40px #ff0101;

}



#wrap {
  min-height: 90%;
  z-index: auto;
}
#header{
    z-index: auto;
}

#main{
    
    position: relative;
    z-index: 1;
    border-bottom-width: 20px;
    bottom: 20px;

}



/* -------main*cards-------- */


p, h3 {
  margin: 0;
}

.card {
  margin: 0 auto;
  display: flex;
  width: 340px;
  background-color: #000000b9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05), 0 5px 5px rgba(0,0,0,0.05);
  border-radius: 8px;
}

.img-wrap {
  background-color: lightgray;
  width: 256px;
  height: 256px;
}

.content-wrap {
  margin-left: 40px;
  margin-top: 40px;
}

.price  {
  font-weight: 600;
  font-size: 20px;
  line-height: 5;
  line-height: 24px;
  color: #e8a854;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #692aa9fd;
  margin-top: 10px;
}

.description {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #692aa9fd;
  margin-top: 20px;
}

.toggle-wrap {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.toggle-buy,
.toggle-info {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}


.toggle-buy {
    margin-bottom: 30px;
  display: block;
  width: 134px;
  background: #692aa9fd;
  border-radius: 19px;
  text-align: center;
  color: #000000;
  box-shadow: 5px 5px 10px #ff004400,
  -5px -5px 10px #ff004400;
  transition: 0.2s;
}
    .toggle-buy:hover{
        background: #8000fffd;
        box-shadow: 0px 0px 020px #7c24d5b3;
    }

.toggle-info {
  display: block;
  margin-left: 29px;
  color: #692aa9fd;
  background: none;
  border: none;
}


.duy-cards{
    margin-top: 40px;
    margin-bottom: 0px;
    display: inline-flex;
}

.toggle-wrap{
    margin-top: 0;
}

.content-wrap img{
    image-rendering: pixelated;
}

/* -------main*cards-------- */


/*contacts*/

.contacts-title{
    text-align: center;
    margin-top: 15x;
    color: wheat;
}

.contacts-address {
    font-style: normal;
    color: wheat;
}

.contacts-item {
    flex-direction: column;
    width: 370px;
    /*outline: 1px solid coral; */
}

.contacts-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.contacts-item-caption {
    margin-bottom: 30px;
}

.contacts-item-text {
    margin: 0;
}

.contacts-item-link:not(:last-childs) {
    margin-bottom: 5px;
}

.join-us{
    margin-top: 20px;
}

/*footer*/
.footer {
    margin-top: 0;
    padding: 42px 0;
    background: black;
}

.footer-container {
    align-items: center;
    justify-content: space-between;
}

.footer-left,
.footer-right {
    align-items: center;
}

.footer-logo {
    width: 100px;
}

.footer-item:not(:last-child) {
    margin-right: 28px;
}

.footer-link{
    color: wheat;
}

.footer-copy{
    color: wheat;
}

.version{
    color: greenyellow;
}
