html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
background: #c62368; /* Safari */
}
::-moz-selection {
background: #0afdf1; /* Firefox */
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat';
    background-color: #001220;
    background-image: url(../img/footer.svg);
    background-repeat: repeat-x;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;  /*auto чтоб центрировался по горизонтали*/
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;  /*отменяет маркеры*/
}

.btn-reset {
   padding: 0;
   border: none;
   background-color: transparent; 
}

.flex {
    display: flex;
}

#header{
    display: flex;
}

ul.nav-list li{
    display: inline;
    
}

.nav-list{
    align-items: center;
    margin-top: 10%;
}

.nav-list-item{
    margin: 20px;
    padding: 15px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background: #1d96d1;
    color:azure;
    font-size: 20px;
    transition: 0.5s;
}

.nav-list-item:hover{
    box-shadow: #001220;
    background: #1a6da3;
    border-radius:74% 26% 83% 17% / 18% 65% 35% 82%;
    font-size: x-large;
}

.header-logo{
    margin-right: auto;
}

.header-logo{
    background-clip: text;
    background: radial-gradient(circle at 70% , #04244a, #05274e, #093059, #0e3e6a00, #144e7f, #186297, #1c78b0, #1d8ec8, #1da2de, #1db2ef, #1cc0fb00, #1cc2ff00), url(/img/mpav_logo.jpg);
    color: transparent; 
    -webkit-background-clip: text;
}

.header-logo h2 {
    font-size: 60px;
}


